* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --background-image: url(./images/bg-mobile.svg);

    --background-color: hsl(257, 40%, 49%);
    --white: rgb(255, 255, 255);
    --font-family: "Poppins", sans-serif;
}

body {
    background-image: var(--background-image);
    background-color: var(--background-color);
    color: var(--white);
    font-family: var(--font-family);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

/* Header */
.header,
.figure {
    width: 100%;
    height: 15rem;
}

.header .figure {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    width: 14rem;
    margin-left: 2.5rem;
}

/* Main Section */

.texts {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 1.5rem;
}

.texts .figure {
    width: 85%;
}

.figure .mocups {
    width: 100%;
}

.text-title {
    font-size: 2.5rem;
    max-width: 90%;
    line-height: 1.4;
}

.text-parag {
    max-width: 90%;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
}

.btn {
    width: 35%;
    background-color: var(--white);
    color: var(--background-color);
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 200;
    text-decoration: none;
}