* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --background-image: url(./images/bg-mobile.svg);

    --background-color: hsl(257, 40%, 49%);
    --white: rgb(255, 255, 255);

    --font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    max-width: 18.5rem;
    height: auto;
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-blend-mode: overlay;
    color: var(--white);
    font-family: var(--font-family);
    background-size: contain;
    text-align: center;
    border: 2px solid black;
}

/* Header */
.header {
    width: 100%;
    height: 8.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .figure {
    width: 75%;
    height: auto;
}

.figure .logo {
    width: 90%;
}

/* Main Section */

.main {
    max-width: 100%
}

.texts {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 1.3rem;
}

.texts .figure {
    width: 85%;
}

.figure .mocups {
    display: block;
    width: 100%;
    height: auto;
}

.text-title {
    font-size: 2.5rem;
    max-width: 90%;
    line-height: 1.4;
}

.text-parag {
    max-width: 90%;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
}

.btn {
    width: 35%;
    background-color: var(--white);
    color: var(--background-color);
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 200;
    text-decoration: none;
}

@media (min-width:20.3125rem) {
    body {
        max-width: 21.7rem;
        height: auto;
    }

    .texts {
        gap: 2.2rem;
    }
}

@media (min-width:23.75rem) {
    body {
        max-width: 24.5rem;
    }

    .texts {
        gap: 2.7rem;
    }

    .texts .figure {
        width: 90%;
    }

    .text-title {
        font-size: 2rem;
    }
}

@media (min-width:26.875rem) {
    body {
        max-width: 44.5rem;
    }

    .header,
    .header .figure {
        height: 5rem;
        margin-left: 2rem;
    }

    .figure .logo{
        height: 5rem;
    }

    .texts {
        gap: 2.3rem;
    }

    .figure,
    .texts .figure {
        width: 80%;
        height: auto;
    }

    .text-title {
        font-size: 2.5rem;
    }

    .text-title,
    .text-parag {
        width: 80%;
        height: auto;
    }
}